<div class="header">
  <div class="header__logo-container">
    <img src="assets/images/ss-logo-text-%20white.svg"
         alt=""
         class="header__logo"
         routerLink="tasks">

    <p>ENGLISH BOT</p>
  </div>

<!--  TODO: раскомментить, когда добавится функционал уведомлений-->
<!--  <mat-icon aria-hidden="false"-->
<!--                         class="header__notifications-icon"-->
<!--                         routerLink="/notifications">-->
<!--  chat-->
<!--</mat-icon>-->
</div>
<router-outlet></router-outlet>
